parameters:
    level: 7
    paths:
        - src
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
            message: '#Method Version\\Comparison\\Constraint\\OperationConstraintParser::buildConstraint\(\) should return Version\\Comparison\\Constraint\\OperationConstraint but return statement is missing.#'

includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
