parameters:
    level: 7
    paths:
        - src
        - tests
    earlyTerminatingMethodCalls:
        Version\Comparison\Constraint\OperationConstraintParser:
            - error
    ignoreErrors:
            - '~Method [a-zA-Z0-9\\_]+::matches\(\) has parameter \$[a-zA-Z0-9]+ with no type specified.~'
            -
                identifier: missingType.iterableValue
            -
                identifier: missingType.generics


includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
